---
# https://access.redhat.com/articles/3626371#bgenerating-an-access-tokenb-4
#
# equivalent of 
# curl https://sso.redhat.com/auth/realms/redhat-external/protocol/openid-connect/token -d grant_type=refresh_token -d client_id=rhsm-api -d refresh_token=$offline_token
# - name: Generating an access token
#   uri:
#     url: https://sso.redhat.com/auth/realms/redhat-external/protocol/openid-connect/token
#     method: POST
#     body_format: form-urlencoded
#     return_content: true
#     body:
#       grant_type: "refresh_token"
#       client_id: "rhsm-api"
#       refresh_token: "{{ offline_token }}"
#   register: temp_token
#   no_log: true
#   until: temp_token is not failed
#   retries: 15
#   delay: 20

# - name: Set fact for access token
#   ansible.builtin.set_fact:
#     rh_access_token: "{{ temp_token.json.access_token }}"
#   no_log: true

# - name: Request Ansible download links
#   ansible.builtin.uri:
#     url: "https://api.access.redhat.com/management/v1/images/cset/ansible-automation-platform-2.3-for-rhel-8-x86_64-files"
#     method: GET
#     headers:
#       Authorization: "Bearer {{ rh_access_token }}"
#   register: aap_download_links
#   no_log: true

# - name: Select appropriate source
#   ansible.builtin.set_fact:
#     aap_bundle_select: "{{ aap_download_links['json']['body'] | selectattr('imageName', 'match', ansible_bundle_name) }}"

# - name: Register desired checksum facts
#   ansible.builtin.set_fact:
#     provided_sha_value: "{{ aap_bundle_select[0]['checksum'] }}"

# example sha: 0046367b76d7c3aca0d311a05935acd667438dfe9640db16f5027952d46dc470
# curl -H "Authorization: Bearer $token"  "https://api.access.redhat.com/management/v1/images/{{ provided_sha_value }}/download"
# curl -H "Authorization: Bearer $token"  "https://api.access.redhat.com/management/v1/images/0046367b76d7c3aca0d311a05935acd667438dfe9640db16f5027952d46dc470/download"
- name: Download aap.tar.gz
  get_url:
    url: "https://api.access.redhat.com/management/v1/images/{{ provided_sha_value }}/download"
    headers:
      accept: "application/json"
      Authorization: "Bearer {{ temp_token.json.access_token }}"
    dest: "{{ tempdir.path }}/aap.tar.gz"
    checksum: "sha256: {{ provided_sha_value }}"
  register: download_aap_tarball
  until: download_aap_tarball is not failed
  retries: 15
  delay: 20
